{% extends 'oierspace/blog/themes/pc/theme_classic/base.html' %}
{% block title %}{{ post.title }} - {{ blog.name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5/build/styles/github-dark-dimmed.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5/build/highlight.min.js"></script>
{% endblock %}
{% block content %}
<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <h2 class="display-4 fst-italic">{{ post.title }}</h2>
            <div class="mb-1 text-muted">
                {{ post.publish_time }} - 发布于
                <a href="{% url 'blog_category' post.category.slug %}">{{ post.category.title }}</a>
            </div>
            <div id="content" class="markdown"></div>
            <script>
                document.getElementById('content').innerHTML = markdownit({html:true}).use(
                    texmath,
                    {
                        engine: katex,
                        delimiters: 'dollars',
                    }
                ).render("{{ post.content|escapejs }}");
                hljs.highlightAll();
            </script>
            <div class="mb-1 text-muted">最后修改于 {{ post.last_edit_time }}</div>
            {% if user.is_authenticated %}
            <br>
            {% if have_error %}
            <div class="alert alert-danger">
                {% for error in errors %}
                {{ error }}<br>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <textarea class="bg-light" style="border: 0; border-radius: .4em; width: 100%; height: 12em; padding: 1.4em; resize: none; box-sizing: border-box" placeholder="评论" name="comment"></textarea>
                <button class="w-100 btn btn-primary btn-lg" type="submit">发送评论</button>
            </form>
            {% endif %}
            {% if comments %}
            <br>
            {% for comment in comments %}
            <div class="bg-light p-4 rounded mt-3" id="comment-{{ comment.pk }}">
                <h5 style="display: inline-block">{{ comment.user.username }}</h5>
                <span class="text-muted">{{ comment.sending_time }}</span>
                {% if comment.user == user or blog.owner == user %}
                <a class="text-muted" href="{% url 'blog_post' post.slug %}?delete={{ comment.pk }}" style="float: right">删除</a>
                {% endif %}
                <div>{{ comment.content }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% include 'oierspace/blog/themes/pc/theme_classic/component/side.html' %}
    </div>
</main>
{% endblock %}
{% block style %}
<style>
    .markdown * {
        max-width: 100%;
    }

    .markdown blockquote {
        margin-left: 1.2em;
        box-sizing: border-box;
        position: relative;
    }

    .markdown blockquote::before {
        content: "";
        width: .3em;
        height: 100%;
        background-color: #eeedee;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: -.95rem;
    }

    .markdown ul>li {
        list-style-type: none;
        position: relative;
        margin-left: .2rem;
        cursor: default;
    }

    .markdown ul>li::before {
        content: "→";
        position: absolute;
        left: -1.2em;
        color: #dad9da;
        transition: ease-in-out color .1s;
    }

    .markdown ul>li:hover:before {
        color: #6c757d;
    }

    .markdown ul>li>ul {
        margin-left: -1em;
        cursor: default;
    }

    .markdown h1 {
        font-size: 2.5em;
    }

    .markdown h2 {
        font-size: 2.246em;
    }

    .markdown h3 {
        font-size: 2.028em;
    }

    .markdown h4 {
        font-size: 1.792em;
    }

    .markdown h5 {
        font-size: 1.556em;
    }

    .markdown h6 {
        font-size: 1.32em;
    }

    .markdown h1, .markdown h2, .markdown h3,
    .markdown h4, .markdown h5, .markdown h6 {
        /* text-align: center; */
        cursor: default;
        box-sizing: border-box;
        position: relative;
        width: max-content;
        /* margin: auto; */
        margin-bottom: calc(.1em + .5rem);
        transition: ease-in-out color .21s;
        color: #5b6369;
        font-weight: 500;
    }

    .markdown h1::before, .markdown h2::before, .markdown h3::before,
    .markdown h4::before, .markdown h5::before, .markdown h6::before {
        content: "";
        width: 0%;
        height: .18em;
        background-color: #eeedee;
        box-sizing: border-box;
        position: absolute;
        bottom: -.3rem;
        left: 38%;
        transition: ease-in-out width .24s;
    }

    .markdown h1:hover:before, .markdown h2:hover::before, .markdown h3:hover::before,
    .markdown h4:hover::before, .markdown h5:hover::before, .markdown h6:hover::before {
        width: 62%;
    }

    .markdown h1::after, .markdown h2::after, .markdown h3::after,
    .markdown h4::after, .markdown h5::after, .markdown h6::after {
        content: "";
        width: 0%;
        height: .18em;
        background-color: #eeedee;
        box-sizing: border-box;
        position: absolute;
        bottom: -.3rem;
        right: 62%;
        transition: ease-in-out width .15s;
    }

    .markdown h1:hover:after, .markdown h2:hover::after, .markdown h3:hover::after,
    .markdown h4:hover::after, .markdown h5:hover::after, .markdown h6:hover::after {
        width: 38%;
    }

    .markdown h1:hover, .markdown h2:hover, .markdown h3:hover,
    .markdown h4:hover, .markdown h5:hover, .markdown h6:hover {
        color: #181a1b;
    }

    .markdown table {
        margin: auto;
    }

    .markdown table>thead>tr>th {
        background-color: #f5f5f5;
        border: 1px solid #dad9da;
        padding: .3em .93em .3em .93em;
        min-width: 7.5em;
        cursor: default;
    }

    .markdown table>thead>tr>th[align="left"] {
        text-align: left;
    }

    .markdown table>thead>tr>th[align="center"] {
        text-align: center;
    }

    .markdown table>thead>tr>th[align="right"] {
        text-align: right;
    }

    .markdown table>tbody>tr>td {
        border: 1px solid #dad9da;
        padding: .3em .9em .3em .9em;
    }

    .markdown p,
    .markdown pre,
    .markdown blockquote {
        margin-top: .8em;
        margin-bottom: .8em;
    }

    :not(pre)>code {
        border-radius: .3em;
        background-color: #f6dce4;
        color: #e4456d;
        padding: .08em .4em .04em .4em;
        /* box-sizing: border-box; */
    }
</style>
{% endblock %}