{% extends 'oierspace/blog/themes/pc/theme_classic/base.html' %}
{% block title %}文章 - {{ blog.name }}{% endblock %}
{% block content %}
<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            {% for post in posts %}
            <a href="{% url 'blog_post' post.slug %}" style="text-decoration: none">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><span class="badge rounded-pill bg-primary">{{ post.category.title }}</span> {{ post.title }}</h5>
                        <p class="card-text"><small class="text-muted">{{ post.publish_time }} - {{ post.num_visits }} 浏览</small></p>
                        <p class="card-text" style="color: #000">{{ post.intro }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="btn-group">
                    {% if prev_page_show %}
                    <a class="btn btn-outline-primary" href="?page={{ prev_page }}">上一页</a>
                    {% endif %}
                    {% if next_page_show %}
                    <a class="btn btn-outline-primary" href="?page={{ next_page }}">下一页</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'oierspace/blog/themes/pc/theme_classic/component/side.html' %}
    </div>
</main>
{% endblock %}