{% extends 'oierspace/blog/themes/pc/theme_classic/base.html' %}
{% block title %}{{ post.title }} - {{ blog.name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5/build/styles/github-dark-dimmed.min.css">
<script src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5/build/highlight.min.js"></script>
{% endblock %}
{% block content %}
<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <h2 class="display-4 fst-italic title-serif">{{ post.title }}</h2>
            <div class="mb-1 text-muted">
                {{ post.publish_time }} - 发布于
                <a href="{% url 'blog_category' post.category.slug %}">{{ post.category.title }}</a>
                {% if blog.owner == user %}
                - <a target="_blank" href="https://oier.space/dashboard/post/{{ post.pk }}">编辑</a>
                {% endif %}
            </div>
            <div id="content" class="markdown"></div>
            <script>
                document.getElementById('content').innerHTML = markdownit({html:true}).use(
                    texmath,
                    {
                        engine: katex,
                        delimiters: 'dollars',
                    }
                ).render("{{ post.content|escapejs }}");
                hljs.highlightAll();
            </script>
            <div class="mb-1 text-muted">最后修改于 {{ post.last_edit_time }}</div>
            {% if user.is_authenticated %}
            <br>
            {% if have_error %}
            <div class="alert alert-danger">
                {% for error in errors %}
                {{ error }}<br>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <textarea class="bg-light" style="border: 0; border-radius: .4em; width: 100%; height: 12em; padding: 1.4em; resize: none; box-sizing: border-box" placeholder="评论" name="comment"></textarea>
                <button class="w-100 btn btn-primary btn-lg" type="submit">发送评论</button>
            </form>
            {% else %}
            <a class="w-100 btn btn-primary btn-lg" href="https://oier.space/luogulogin/?r={{ blog.domain }}&loc=post/{{ post.slug }}">登录以发送评论</a>
            {% endif %}
            {% if comments %}
            <br>
            {% for comment in comments %}
            <div class="bg-light p-4 rounded mt-3" id="comment-{{ comment.pk }}">
                <h5 style="display: inline-block">
                    {{ comment.user.username }}
                    {% if comment.user_badge %}
                    <span class="badge rounded-pill bg-secondary">{{ comment.user_badge }}</span>
                    {% endif %}
                </h5>
                <span class="text-muted">{{ comment.sending_time }}</span>
                {% if comment.user == user or blog.owner == user %}
                <a class="text-muted" href="{% url 'blog_post' post.slug %}?delete={{ comment.pk }}" style="float: right">删除</a>
                {% endif %}
                <div>{{ comment.content }}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% include 'oierspace/blog/themes/pc/theme_classic/component/side.html' %}
    </div>
</main>
{% endblock %}
{% block style %}
{% include 'oierspace/blog/themes/pc/markdown_css.html' %}
{% endblock %}