<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                    aria-label="Bootstrap">
                    <img src="https://static.pisearch.cn/logonew.min.svg" width="40" height="32">
                    <span class="fs-5">OIer Space</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">
                        此博客基于 <a href="https://oier.space">OIer Space</a>，由 <a href="https://www.piterator.com">Piterator</a> 打造。
                        <br>
                        此博客的主题 Theme Classic 由 <a href="https://www.piterator.com">Piterator</a> 开发。
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>